name: PEA Weekly Tracker

on:
  schedule:
    - cron: '0 9 * * 1' # Lundi 9h00 UTC
  workflow_dispatch:

jobs:
  run-tracker:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install yfinance pandas

      - name: Run Script
        env:
          EMAIL_USER: ${{ secrets.EMAIL_USER }}
          EMAIL_PASS: ${{ secrets.EMAIL_PASS }}
          EMAIL_RECEIVER: ${{ secrets.EMAIL_RECEIVER }}
        run: python pea_tracker.py

      - name: Commit and push if CSV changed
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add pea_history.csv
          git commit -m "Update PEA history [skip ci]" || exit 0
          git push
          
